
.gallery-open {
  transition: all 0.3s ease;
  &:hover {
      -webkit-box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.75);
      box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.75);

    a {
      text-decoration: none;
    }
  }


}

.living1 {
  background: url(../images/1bedroom/3.jpg) center center / cover no-repeat;
  width: 100%;
  height: -webkit-fill-available;
}

.living2 {
  background: url(../images/2bedroom/13.jpg) center center / cover no-repeat;
  width: 100%;
  height: -webkit-fill-available;
}


.living-hidden {
  display: none;
}

.suite-header {
  text-align: center;
  background: $gray-base;
  height: inherit;
  line-height: 4em;
  font-size: 2em;
  font-family: 'Nexa Light';
  color: white;


  .suite {
    font-size: 100%;
    margin-bottom: 0px;
    padding-top: 1rem;
  }

  .price {
    margin-bottom: 0px;
    padding-bottom: 1rem;
  }
}
