// Variables

// Gray and Brand Colors for use across theme

$theme-primary:    #4A69B1;

$gray-base:        #494848;
$gray-darker:      darken(desaturate(adjust-hue($gray-base, 0.0000), 0.6897), 13.5294); // #262626
$gray-dark:        darken(desaturate(adjust-hue($gray-base, 0.0000), 0.6897), 5.6863); // #3A3A3A
$gray:             $gray-base; // #494848
$gray-light:       lighten(desaturate(adjust-hue($gray-base, 0.0000), 0.6897), 25.2941); // #898989
$gray-lighter:     lighten(desaturate(adjust-hue($gray-base, 0.0000), 0.6897), 39.4118); // #ADADAD