@charset "utf-8";
@import "normalize";
@import "creative";
@import "owner-guide";
@import "the-property";
@import "photoswipe-main";

// .hero {
//   padding-bottom: 0;
// }



.hero-img {
  margin-top: 5em;
  margin-bottom: 5em;
  margin: auto;
  height: 100%;
  overflow: hidden;
  img {
    width: 100%;
  }
}

.navbar-brand {

  .logo {
    height: 100%;
    display: none;
  }
  .icon {
    height: 100%;
    padding: 0.3em;
  }

  .logo-1 {
    height: 100%;
    display: none;
  }
  .logo-2 {
    height: 100%;
    display: none;
  }
  .icon {
    height: 100%;
    display: block;
  }

}

.sub-head {
  min-height: 50%;
}

@media (min-width: 768px) {

  .navbar-fixed-top {
      min-height: 80px;
  }
  .navbar-default .nav > li > a{
     &:hover, &:focus {
        color: $theme-primary;
    }
  }
  .navbar-nav > li > a {
      padding-top: 0px;
      padding-bottom: 0px;
      line-height: 80px;
  }

  .navbar-brand {
    height: 80px;
    .logo-1 {
      height: 100%;
      display: block;
    }
    .logo-2 {
      height: 100%;
      display: none;
    }
    .icon {
      display: none;
    }
  }
  .navbar-default {
    border-bottom: none;
  }
}

.hero {
  padding-bottom: 3em;

  .wave {
    position: absolute;
    top: 25%;
    left: 10px;
  }

}

.page-title {
  padding-top: 0px;
  padding-bottom: 0px;
}
.map-img {
  max-width: 100%;
}


.my-gallery {

  img {
    width: 100%;
    height: auto;
  }

  figure {
    display: inline-block;
    margin: 0 5px 5px 0;
    width: 150px;
  }

  figcaption {
    display: none;
  }
}

.owners-guide {
  p {
    line-height: 4em;
  }
}


