@charset "utf-8";
@import "normalize";
@import "creative";
@import "photoswipe-main";

// .hero {
//   padding-bottom: 0;
// }

.hero-img {
  margin-top: 5em;
  margin-bottom: 5em;
  margin: auto;
  height: 90%;
  overflow: hidden;
  img {
    width: 100%;
  }
}

.navbar-brand {

  .logo {
    height: 100%;
    display: none;
  }
  .icon {
    height: 100%;
    padding: 0.3em;
  }
}

@media (min-width: 768px) {

  .navbar-fixed-top {
      min-height: 80px;
  }
  .navbar-default .nav > li > a{
     &:hover, &:focus {
        color: $theme-primary;
    }
  }
  .navbar-nav > li > a {
      padding-top: 0px;
      padding-bottom: 0px;
      line-height: 80px;
  }

  .navbar-brand {
    height: 80px;
    .logo {
      display: block;
    }
    .icon {
      display: none;
    }
  }
  .navbar-default {
      background: white;
  }
}

.hero {
  padding-bottom: 3em;

}

.page-title {
  padding-top: 0px;
  padding-bottom: 0px;
}
.map-img {
  max-width: 100%;
}


.my-gallery {

  img {
    width: 100%;
    height: auto;
  }

  figure {
    display: inline-block;
    margin: 0 5px 5px 0;
    width: 150px;
  }

  figcaption {
    display: none;
  }
}


