<header style="background-image: url(<%= img-url %>)">
    <div class="header-content">
        <div class="header-content-inner">
            <h1 id="homeHeading">Paradise Found</h1>
            <hr>
            <a href="#services" class="btn btn-default btn-xl sr-button page-scroll">Find Out More</a>
        </div>
    </div>
</header>