<div class="container">
  <div class="row">
    <div class="desc col-lg-6">
      <h3 class="title"><%= title %></h3>
      <p class="paragraph" style="line-height: 40px;"><%= paragraph %> </p>
    </div>
    <div class="map col-lg-6 text-center ">
      <img class="map-img" src="/images/<%= image %>">
    </div>
  </div>
</div>