---
title: Bluewater Beach
---
<header style="background-image: url('../images/hero.jpg')">
    <div class="header-content">
        <div class="header-content-inner">
            <h1 id="homeHeading">Paradise Found</h1>
            <hr>
            <a href="#services" class="btn btn-default btn-xl sr-button page-scroll">Find Out More</a>
        </div>
    </div>
</header>


<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">The Villas at Bluewater Beach</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p>A boutique ocean-front development of 12 luxury villas, located on the Golden Mile of Ambergris Caye, 5 miles north of San Pedro Town and 200 metres from the world famous Belize Barrier Reef.</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img src="../images/beachfront.png">
                    <h3>Beachfront</h3>
                    <p class="text-muted">Every suite's panoramic doors open to a terrace facing directly onto the Belize Barrier Reef.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img src="../images/quality.png">
                    <h3>Quality</h3>
                    <p class="text-muted">Designed for stability and beauty, and built with quality materials and workmanship, Bluewater Beach Villas make for a solid investment in every way.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 text-center">
                <div class="service-box">
                    <img src="../images/lotus.png">
                    <h3>Balanced Lifestyle</h3>
                    <p class="text-muted">Bluewater Beach is a haven of serenity and beauty, but only 10 minutes by boat or 20 minutes by golf cart from the adventures and fine dining of San Pedro Town.</p>
                </div>
            </div>
        </div>
    </div>
</section>


<aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>Learn more about the property</h2>
            <a href="/the-property.html" class="btn btn-default btn-xl sr-button">Continue</a>
        </div>
    </div>
</aside>