---
title: Bluewater Beach Villas
---
<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1 id="homeHeading">Bluewater Beach Villas</h1>
            <hr>
            <p>Start Bootstrap can help you build better websites using the Bootstrap CSS framework! Just download your template and start going, no strings attached!</p>
            <a href="#about" class="btn btn-default btn-xl sr-button page-scroll">Find Out More</a>
        </div>
    </div>
</header>


<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond text-primary sr-icons"></i>
                    <h3>Beachfront</h3>
                    <p class="text-muted">Every suite's panoramic doors open up onto a terrace facing directly onto the great barrier reef.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane text-primary sr-icons"></i>
                    <h3>Service</h3>
                    <p class="text-muted">24/7 security and a cleaning staff dedicated to ensuring that you spend as much time as possible relaxing in the glorious weather</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o text-primary sr-icons"></i>
                    <h3>Sustainable</h3>
                    <p class="text-muted">30 solar panels on the roof not only reduce the building's carbon footprint but also every memeber's hydro bill</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart text-primary sr-icons"></i>
                    <h3>Balanced Lifestyle</h3>
                    <p class="text-muted">Being a 15 minute boat ride from San Pedro gives you the best of both worlds; Close enough to experience all the action, but secluded enough to be a haven of serenity and beauty </p>
                </div>
            </div>
        </div>
    </div>
</section>


<aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>Learn more about the property</h2>
            <a href="/the-property.html" class="btn btn-default btn-xl sr-button">Continue</a>
        </div>
    </div>
</aside>