<header class="sub-head" style="background-image: url(../images/blue-hole.jpg)">

</header>

<section class="page-title owners-guide">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Investing in Belize</h2>
                <hr class="light">
                <p>Belize is a democratic English-speaking nation that has a long history as part of the British Commonwealth. Today, as an independent nation, Belize opens its arms to expatriates from all over the world to a nation that is safe, free and stable. The country is ranked #2 on Forbes list of “Nine International Areas Real Estate Investors Should Give A Look”, and Ambergris Caye is consistently called “The World’s Greatest Island.”</p>

                <img class="inline-img" src="../images/belize-showcase-1.jpg">

                <p>Belize is a spectacularly beautiful country where a variety of cultures, including Garifuna, Mayan, and Creole, each has its own distinctive culture, languages, food and dress. Belize boasts jungles, mountains, Mayan ruins, gorgeous beaches, the world’s second largest barrier reef, wonderful fishing, top-class scuba diving and snorkeling and many other activities and attractions.</p>

                <img class="inline-img" src="../images/scuba-diving.jpg">

                <p>Belize has become a world-leading eco-tourism and adventure destination. Whale Shark season runs from late April to June -- an opportunity to spot the largest fish in the sea (up to 60 feet in length). Walk along the beach and you may see dolphins or manatees. Wildlife is abundant under the sea, on land, and in the air. With its easy-going, friendly and decidedly uncrowded character, it is no wonder that Belize is regarded as “The Jewel of the Caribbean.”</p>

                <img class="inline-img" src="../images/retire-beach.jpg">

            </div>
        </div>
    </div>
</section>

<!-- <aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>Check out our media</h2>
            <a href="/media.html" class="btn btn-default btn-xl sr-button">Continue</a>
        </div>
    </div>
</aside> -->
