---
title: The Property
---

<header class="sub-head" style="background-image: url(../images/1bedroom/2.jpg)">

</header>
<!--
<section class="hero">
  <div class="container">
    <div class="row">
      <div class="hero-img col-lg-12 col-sm-12">
        <img src="/images/living2.jpg" alt="">
        <img class="wave" src="/images/white-wave-svg.svg">
   </div>
    </div>
  </div>
</section> -->

<section class="page-title">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">The Property</h2>
                <hr class="light">
                <p class="text-faded">Take a peek at our spacious One Bedroom & One Bathroom and Two Bedroom & Two Bathroom suites, all with stunning views of the beach, ocean and reef.</p>
            </div>
        </div>
    </div>
</section>

<section class="main-content">
  <div class="container">
    <div class="row">
        <section data-featherlight-gallery
        data-featherlight-filter="a"
        class="col-lg-6 ">
          <div class="gallery-open">
            <a href="../images/1bedroom/3.jpg">
              <div class="living1"></div></a>
              <div class="suite-header">
                <div class="suite-header-text">
                  <p class="suite">One Bedroom Suite</p>
                  <p class="price">From $239,000 USD</p>
                </div>
              </div>
          </div>

          <div>
            <a href="../images/1bedroom/2.jpg">
              <div class="living-hidden"></div>
            </a>
          </div>

          <div>
            <a href="../images/1bedroom/4.jpg">
              <div class="living-hidden"></div>
            </a>
          </div>
                    <div>
            <a href="../images/1bedroom/5.jpg">
              <div class="living-hidden"></div>
            </a>
          </div>

          <div>
            <a href="../images/1bedroom/6.jpg">
              <div class="living-hidden"></div>
            </a>
          </div>
          <div>
            <a href="../images/1bedroom/7.jpg">
              <div class="living-hidden"></div>
            </a>
          </div>

          <div>
            <a href="../images/1bedroom/8.jpg">
              <div class="living-hidden"></div>
            </a>
          </div>
          <div>
            <a href="../images/1bedroom/9.jpg">
              <div class="living-hidden"></div>
            </a>
          </div>
          <div>
            <a href="../images/1bedroom/10.jpg">
              <div class="living-hidden"></div>
            </a>
          </div>
          <div>
            <a href="../images/1bedroom/11.jpg">
              <div class="living-hidden"></div>
            </a>
          </div>

        </section>

        <section data-featherlight-gallery
        data-featherlight-filter="a" class="col-lg-6 ">
          <div class="gallery-open">
            <a href="../images/2bedroom/13.jpg">
              <div class="living2"></div>
            </a>
            <div class="suite-header">
              <p class="suite">Two Bedroom Suite</p>
              <p class="price">From $299,000 USD</p>
            </div>
          </div>
          <div>
            <a href="../images/2bedroom/3.jpg">
              <div class="living-hidden"></div>
            </a>
          </div>

          <div>
            <a href="../images/2bedroom/4.jpg">
              <div class="living-hidden"></div>
            </a>
          </div>
          <div>
            <a href="../images/2bedroom/5.jpg">
              <div class="living-hidden"></div>
            </a>
          </div>

          <div>
            <a href="../images/2bedroom/6.jpg">
              <div class="living-hidden"></div>
            </a>
          </div>
          <div>
            <a href="../images/2bedroom/7.jpg">
              <div class="living-hidden"></div>
            </a>
          </div>

          <div>
            <a href="../images/2bedroom/8.jpg">
              <div class="living-hidden"></div>
            </a>
          </div>
          <div>
            <a href="../images/2bedroom/9.jpg">
              <div class="living-hidden"></div>
            </a>
          </div>

          <div>
            <a href="../images/2bedroom/10.jpg">
              <div class="living-hidden"></div>
            </a>
          </div>
          <div>
            <a href="../images/2bedroom/11.jpg">
              <div class="living-hidden"></div>
            </a>
          </div>

          <div>
            <a href="../images/2bedroom/12.jpg">
              <div class="living-hidden"></div>
            </a>
          </div>
          <div>
            <a href="../images/2bedroom/14.jpg">
              <div class="living-hidden"></div>
            </a>
          </div>


        </section>



      <!-- <div class="desc col-lg-6">
        <h3 class="title">Location</h3>
        <p class="paragraph" style="line-height: 40px;">Bluewater Beach is located four miles north of San Pedro. There are two ways to get to the property. By road, or by boat. The road which leads directly into town takes 20 minutes by golf cart. By water, there is a taxi that leaves from Bluewater Beach every two hours and from San Pedro every two hours aswell. The Taxi takes 15 minutes, although if you have your own boat, the ride can take as few as 10 minutes.</p>
      </div>
      <div class="map col-lg-6 text-center ">
        <img class="map-img" src="/images/blue-water-map-svg.svg">
      </div> -->

      <div class="map col-lg-12 text-center ">
        <img class="map-img" src="/images/rendering-1.png">
      </div>

    </div>
  </div>

</section>


 <aside class="bg-dark">
  <div class="container text-center">
      <div class="call-to-action">
          <h2>Learn more about owning in Belize</h2>
          <a href="/owners-guide.html" class="btn btn-default btn-xl sr-button">Continue</a>
      </div>
  </div>
</aside>



